

<mat-card class="sample_card">

<div class="card" >
  <h1 ><mat-card-title></mat-card-title>{{title}}</h1>
  <mat-card class="example-card">
    <mat-card-header>
     
    </mat-card-header>
    <mat-card-content >
      <div>
      
    <input type="text" class="form-control form-control-lg" [(ngModel)]="name" placeholder="Enter Username" name="users">
        &nbsp;&nbsp;<br>
  
  <button  (click)="submit()" class="btn btn-outline-light btn-lg px-5" style="margin-right: 100%;" >submit</button>
      </div >
      <div *ngIf="isname">
      {{name}}
      </div>
      <br>
<ul>
  
  <li *ngFor="let array of x " (mouseover)="onMouseOver(array)"  (mouseleave)="onmouseleave()"  >
    {{array}}
     <button *ngIf="isShow" type="mat-button" class="btn" (click)="onEdit(array)">


      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
</svg>
      
      
      
      <i class="bi bi-pen"></i></button> &nbsp;&nbsp;
    <button *ngIf="isShow"  type="mat-button" class="btn" (click)="onDlt(array)"><i class="fa fa-trash" style="width: 80%"></i></button>

    


  </li>
</ul><br>
    </mat-card-content>

    
  </mat-card>

</div>
</mat-card>

